<!DOCTYPE html>
<html>
  <head>
    <title>BlogProcureswift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
        <div class="container-fluid position-relative no-side-padding">

            <a href="#" class="logo"><img src="https://res.cloudinary.com/tenderswift/image/upload/v1574635669/ProcureSwiftLogos/procureswift-logo-large.png" alt="Logo Image"></a>

            <div class="src-area">
                <button class="btn btn-warning mt-3 mr-3 float-right">Ask the ProcureSwift Blog</button>
            </div>

        </div><!-- conatiner -->
    </header>
    <%= yield %>
  </body>
</html>
