<!DOCTYPE html>
<html>
  <head>
    <title>Blog - Procureswift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
        <div class="container-fluid position-relative no-side-padding">

            <a href="/" class="logo"><img src="https://res.cloudinary.com/tenderswift/image/upload/v1574635669/ProcureSwiftLogos/procureswift-logo-large.png" alt="Logo Image"></a>

            <% unless user_signed_in? %>
              <div class="src-area">
                  <button class="btn btn-warning mt-3 mr-3 float-right">Ask the ProcureSwift Blog</button>
              </div>
            <% end %>
            <% if user_signed_in? %>
              <ul class="main-menu visible-on-click float-right" id="main-menu">
                <li><a class="nav-link" href="<%= new_post_path %>">New Blog Post</a></li>
                <li><a class="nav-link" href="<%= posts_path %>">Blogs</a></li>
                <li> <%= link_to current_user.full_name, edit_user_registration_path, class: 'dropdown-item' %></li>
                <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %></li>
              </ul>
          <% end %>
          <section class="container">
            <% if notice %>
              <div class="alert alert-info mt-3" role="alert">
                <%= notice %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>

            <% if alert %>
              <div class="alert alert-danger mt-3" role="alert">
                <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          </section>

        </div><!-- conatiner -->
    </header>
    <%= yield %>
  </body>
</html>
